html {
  background: url(images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#body-container {
  font-family: "Covered By Your Grace", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#head-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(249, 247, 247);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  font-size: 2.8em;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 125px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 225px 15px;
}

img {
  height: 425px;
  width: 425px;
  border-radius: 50px;
  margin: 5px;
}

.clickImg {
  cursor: pointer;
  transition: all 235ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.clickImg:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.clickImg:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

#main-container {
  width: 100%;
  visibility: visible;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  align-self: center;
  background-color: rgb(242, 240, 240);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: "Covered By Your Grace", cursive;
  font-size: 1.4rem;
  line-height: 25px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

#winner-container {
  visibility: hidden;
  position: absolute;
  left: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#clickNum-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: rgb(249, 247, 247);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  font-size: 2em;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  border-bottom-left-radius: 225px 15px;
  border-bottom-right-radius: 15px 125px;
  border-top-left-radius: 15px 225px;
  border-top-right-radius: 225px 15px;
}
